[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
jinja2 = "*"
ergast-py = "*"
uvicorn = "*"
httpx = "*"
httpx-cache = "*"

[dev-packages]

[requires]
python_version = "3.11"
