/* base.html */
body {
    font-family: "Berkeley Mono";
}

#content {
    margin-left: 15%;
    margin-right: 15%;
}

header {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#title-text {
    font-weight: bold;
    font-style: italic;
}

.header-option {
    /* font-size: small; */
    color: #45454A;
}

.horizontal-line {
    margin-top: 0.3rem;
    border-top: 2px solid #45454A;
    border-radius: 0;
}

/* race_results.html */
.section-header {
    text-align: center;
}

.section-header h2 {
    margin: 2em 0 0.5em 0;
}

.section-detail table {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    border-collapse: separate;
    border-spacing: 20px 3px;
}

.section-detail table thead {
    margin-bottom: 10px;
    text-align: left;
}

tbody:before {
    /* This doesn't work because of border-collapse */
    line-height: 0.3em;
    content: ".";
    color: white;
    /* bacground color */
    display: block;
}

td,
th {
    /* margin: 3px 20px 3px 0px; */
    border-collapse: separate;
    border-spacing: 10px 10px;
}

.fastest-lap {
    background-color: #66C95B;
}