/* base.html */
body {
    font-family: "Berkeley Mono";
    /* background-color: black;
    color: white; */
}

#content {
    margin-left: 15%;
    margin-right: 15%;
}

header {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.header-option {
    /* font-size: small; */
    color: #45454A;
    font-size: small;
}

a:link {
    text-decoration: none;
    color: #45454A;
}

a:visited {
    text-decoration: none;
    color: #45454A;
}

a:hover {
    text-decoration: underline;
    color: #45454A;
}

a:active {
    text-decoration: underline;
    color: #45454A;
}

#title-text {
    font-weight: bold;
    font-style: italic;
}

.horizontal-line {
    margin-top: 0.3rem;
    border-top: 1px solid #45454A;
    border-radius: 0;
    border-style: none solid dashed dashed;
}

/* race_results.html */
.section-header {
    text-align: center;
}

.section-header h2 {
    margin: 2em 0 0.5em 0;
}

.section-detail table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 12px 3px;
    font-size: small;
}

.section-detail table thead {
    margin-bottom: 10px;
    text-align: left;
}

.green {
    background-color: #66C95B;
}