<!DOCTYPE html>
<html>

<head>
    <title>F1 Scoreboard</title>
    <meta charset="UTF-8">
    <!-- Temporary solution -->
    <!-- <link href="{{url_for('static', path='style.css')}}" rel="stylesheet"> -->
    <link href="https://f1-scoreboard.fly.dev/static/style.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div id="content">
        <header>
            <div class="header-option" style="flex-grow:2">
                <a href="{{url_for('race_schedule')}}">Schedule</a>
            </div>
            <div class="header-option" style="flex-grow:2">
                <a href="{{url_for('drivers')}}">Drivers</a>
            </div>
            <div style="flex-grow:4" id="title-text">
                <a href="{{url_for('race_results')}}">F1</a>
            </div>
            <div class="header-option" style="flex-grow:2">
                <a href="{{url_for('constructors')}}">Constructors</a>
            </div>
            <div class="header-option" style="flex-grow:2">
                {{now|datetime_format}}
            </div>
        </header>
        <hr class="horizontal-line">
        <article>
            {% block content %}{% endblock %}
        </article>
    </div>
</body>

</html>