<!DOCTYPE html>
<html>

<head>
    <title>F1 Scoreboard</title>
    <meta charset="UTF-8">
    <!-- Temporary solution -->
    <link href="{{url_for('static', path='style.css')}}" rel="stylesheet">
    <!-- <link href="https://f1-scoreboard.fly.dev/static/style.css" rel="stylesheet"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.8.6"
        integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.8"></script>
</head>

<body class="container mx-24 dark:bg-black dark:text-white">
    <div>
        <header class="flex flex-row text-center mt-2.5">
            <div class="basis-1/4">
            </div>
            <div class="basis-1/4 text-sm text-slate-700 dark:text-indigo-700">
                <a hx-get="/schedule" hx-trigger="click" hx-target="#f1" hx-swap="innerHTML">Schedule</a>
            </div>
            <div class="basis-1/4 text-sm text-slate-700 dark:text-indigo-700">
                <a hx-get="/drivers" hx-trigger="click" hx-target="#f1" hx-swap="innerHTML">Drivers</a>
            </div>
            <div class=" basis-1/4 font-bold italic">
                <a hx-get="/" hx-trigger="click" hx-target="#f1" hx-swap="innerHTML">F1</a>
            </div>
            <div class=" basis-1/4 text-sm text-slate-700 dark:text-indigo-700">
                <a hx-get="/constructors" hx-trigger="click" hx-target="#f1" hx-swap="innerHTML">Constructors</a>
            </div>
            <div class=" basis-1/4 text-sm text-slate-700 dark:text-indigo-700">
                <button id="toggle-btn" _="on click toggle .dark on <html/> 
                       on click if my innerHTML == 'Dark' 
                            put 'Light' into me localStorage.theme='dark' otherwise 
                            put 'Dark' into me localStoreage.theme='light">Dark</button>
            </div>
            <div class="basis-1/4">
            </div>
        </header>
        <hr class="border border-black border-dashed w-3/4 m-auto">
        <article id="f1">
            {% block content %}{% endblock %}
        </article>
    </div>
    <script type="text/hyperscript">
        on load
        js 
            if localStorage.theme === 'dark' || !('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches {
                document.documentElement.classList.add('dark')
            } else {
            document.documentElement.classList.remove('dark')
            }
        end
    </script>
</body>

</html>