{% extends "base.html" %}
{% import "section-header.html" as sh %}
{% block content %}

{{ sh.section_header("Constructor Standings") }}

<section class="flex flex-col justify-center">
    <table class="text-xs table-fixed mx-auto text-left" style="border-collapse: separate;
    border-spacing: 12px 3px;">
        <thead>
            <tr>
                <th>Pos</th>
                <th>Constructor</th>
                <th>Wins</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for d in constructors[-1].constructor_standings %}
            <tr>
                <td>{{d.position}}</td>
                <td>{{d.constructor.name}}</td>
                <td>{{d.wins}}</td>
                <td>{{d.points}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}