{% extends "base.html" %}
{% block content %}
<section class="section-header">
    <h2>{{schedule.raceTable.season}} Schedule</h2>
</section>
<section class="section-detail">
    <table>
        <thead>
            <tr>
                <th>Round</th>
                <th>Race</th>
                <th>Circuit</th>
                <th>FP1</th>
                <th>FP2</th>
                <th>FP3</th>
                <th>Sprint</th>
                <th>Quali</th>
                <th>Race</th>
            </tr>
        </thead>
        <tbody>
            {% for d in schedule.raceTable.races %}
            <tr>
                <td>{{d.round}}</td>
                <td>{{d.raceName}}</td>
                <td>{{d.circuit.location.locality + ", " + d.circuit.location.country}}</td>
                {% if d.fp1 %}
                <td>{{d.fp1.date|combine_date_time(d.fp1.time)|datetime_format("%d-%m-%y %I:%M %p")}}</td>
                {% else %}
                <td></td>
                {% endif %}

                {% if d.fp2 %}
                <td>{{d.fp2.date|combine_date_time(d.fp2.time)|datetime_format("%d-%m-%y %I:%M %p")}}</td>
                {% else %}
                <td></td>
                {% endif %}

                {% if d.fp3 %}
                <td>{{d.fp3.date|combine_date_time(d.fp3.time)|datetime_format("%d-%m-%y %I:%M %p")}}</td>
                {% else %}
                <td></td>
                {% endif %}

                {% if d.sprint %}
                <td>{{d.sprint.date|combine_date_time(d.sprint.time)|datetime_format("%d-%m-%y %I:%M %p")}}</td>
                {% else %}
                <td></td>
                {% endif %}

                {% if d.quali %}
                <td>{{d.quali.date|combine_date_time(d.quali.time)|datetime_format("%d-%m-%y %I:%M %p")}}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td>{{d.date|combine_date_time(d.time)|datetime_format("%d-%m-%y %I:%M %p")}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
