{% import "section-header.html" as sh %}

{{ sh.section_header(schedule.raceTable.season|string + " Season") }}

<div class="table text-sm border border-collapse mx-auto text-left">
    <div class="table-header-group">
        <div class="table-row font-bold">
            <div class="table-cell text-left text-slate-700 pl-1 pr-1">Round</div>
            <div class="table-cell text-left text-slate-700 pl-1 pr-4">Race</div>
            <div class="table-cell text-left text-slate-700 pl-1 pr-4">Circuit</div>
            <div class="table-cell text-left text-slate-700 pl-1 pr-2">FP1</div>
            <div class="table-cell text-left text-slate-700 pl-1 pr-2">FP2</div>
            <div class="table-cell text-left text-slate-700 pl-1 pr-2">FP3</div>
            <div class="table-cell text-left text-slate-700 pl-1 pr-2">Sprint</div>
            <div class="table-cell text-left text-slate-700 pl-1 pr-2">Quali</div>
            <div class="table-cell text-left text-slate-700 pl-1 pr-2">Race</div>
        </div>
    </div>
    <div class="table-row-group text-slate-700">
        {% for d in schedule.raceTable.races %}
        <div class="table-row">
            <div class="table-cell pl-1 pr-1  border border-black border-dashed dark:border-white dark:border-dotted">
                {{d.round}}</div>
            <div class="table-cell pl-1 pr-4  border border-black border-dashed dark:border-white dark:border-dotted">
                {{d.raceName}}</div>
            <div class="table-cell pl-1 pr-4  border border-black border-dashed dark:border-white dark:border-dotted">
                {{d.circuit.location.locality + ", " +
                d.circuit.location.country}}</div>
            {% if d.fp1 %}
            <div class="table-cell pl-1 pr-2  border border-black border-dashed dark:border-white dark:border-dotted">
                {{d.fp1.date|combine_date_time(d.fp1.time)|datetime_format("%d-%m-%y %I:%M %p")}}</div>
            {% else %}
            <div class="table-cell pl-1 pr-2  border border-black border-dashed dark:border-white dark:border-dotted">
            </div>
            {% endif %}

            {% if d.fp2 %}
            <div class="table-cell pl-1 pr-2  border border-black border-dashed dark:border-white dark:border-dotted">
                {{d.fp2.date|combine_date_time(d.fp2.time)|datetime_format("%d-%m-%y %I:%M %p")}}</div>
            {% else %}
            <div class="table-cell pl-1 pr-2  border border-black border-dashed dark:border-white dark:border-dotted">
            </div>
            {% endif %}

            {% if d.fp3 %}
            <div class="table-cell pl-1 pr-2  border border-black border-dashed dark:border-white dark:border-dotted">
                {{d.fp3.date|combine_date_time(d.fp3.time)|datetime_format("%d-%m-%y %I:%M %p")}}</div>
            {% else %}
            <div class="table-cell pl-1 pr-2  border border-black border-dashed dark:border-white dark:border-dotted">
            </div>
            {% endif %}

            {% if d.sprint %}
            <div class="table-cell pl-1 pr-2  border border-black border-dashed dark:border-white dark:border-dotted">
                {{d.sprint.date|combine_date_time(d.sprint.time)|datetime_format("%d-%m-%y %I:%M
                %p")}}</div>
            {% else %}
            <div class="table-cell pl-1 pr-2  border border-black border-dashed dark:border-white dark:border-dotted">
            </div>
            {% endif %}

            {% if d.quali %}
            <div class="table-cell pl-1 pr-2  border border-black border-dashed dark:border-white dark:border-dotted">
                {{d.quali.date|combine_date_time(d.quali.time)|datetime_format("%d-%m-%y %I:%M %p")}}</div>
            {% else %}
            <div class="table-cell pl-1 pr-2  border border-black border-dashed dark:border-white dark:border-dotted">
            </div>
            {% endif %}

            <div class="table-cell pl-1 pr-2  border border-black border-dashed dark:border-white dark:border-dotted">
                {{d.date|combine_date_time(d.time)|datetime_format("%d-%m-%y %I:%M %p")}}</div>
        </div>
        {% endfor %}
    </div>
</div>